.social {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  gap: 15px;

  &__item {
  }

  &__link {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 6px;
      border: 1px solid #fff;
      box-shadow: 0 0 5px rgba(#fff , 0.5);
      transition: transform 0.5s, opacity 0.6s;

    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        transform: scale(1.4);
        opacity: 0;
      }
    }
    svg {
      display: block;
    }
  }
}
