$phones-min: 360px;
$phones-sm: 400px;
$phones-md: 480px;

$phones-lg: 575px;
$tablets: 768px;
$desktops-sm: 992px;
$desktops-md: 1200px;

$desktops-lg: 1400px;
$desktops-xl: 1600px;

$ff-open-sans: "open sans", sans-serif;




